* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #5cb85f;
  --color-success: #0d28a6;
  --color-warning: #f9cc00;
  --color-danger: #fa2c5a;
  --color-black: #000;
  --color-bg: #f1f3ff;
  --color-bg1: #fff;
  --color-rounded: #cfd4ed;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-black);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-bg1);
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  font-weight: 700;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-warning);
  color: #fff;
}

/* Navbar Start*/
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: var(--color-bg1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav_menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav_menu a:hover {
  color: var(--color-bg2);
}

/* Navbar End */

/* Header Start */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.header_left p {
  margin: 1rem 0 2.4rem;
}

/* keluar dari container dengan menggunakan 'negatif margin kanan' menggunakan satuan 'viewport width'*/
.header_right-image {
  width: 100%;
  margin-bottom: -6vh;
  margin-right: -50vw;
  max-width: 50vw;
  width: 100vw;
}

/* Header End */

/* Our Services Start */
.our-services {
  background: var(--color-bg1);
  height: 32rem;
}

.our-services-right {
  width: 100%;
}

.our-services h2 {
  line-height: 1;
  margin-bottom: 1.5rem;
  text-align: left;
}

.our-services p {
  text-align: justify;
  margin-bottom: 1rem;
}

.our-services-container {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
}

.services-left-image {
  width: 80%;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  max-width: 100%;
}

.uil-check {
  background: var(--color-rounded);
  padding: 0.1rem;
  color: var(--color-success);
  border-radius: 50%;
}
/* Our Services End */

/* Why Us Start */
.why-us {
  background: var(--color-bg1);
  height: 32rem;
}

.why-us h2 {
  line-height: 1;
  margin-bottom: 1.5rem;
  text-align: left;
}

.why-us p {
  text-align: justify;
  margin-bottom: 1rem;
}

.why-us-container {
  display: grid;
  width: 80%;
}

.why-us-box {
  display: grid;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.box {
  background: var(--color-bg2);
  width: 30%;
  height: 90%;
  padding: 1rem;
  border-radius: 0.2rem;
  transition: var(--transition);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.box:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.box-icon {
  background: var(--color-warning);
  color: var(--color-bg1);
  padding: 0.4rem;
  border-radius: 50%;
}

.box:nth-child(2) .box-icon {
  background: var(--color-danger);
}

.box:nth-child(3) .box-icon {
  background: var(--color-success);
}

.box:nth-child(4) .box-icon {
  background: var(--color-primary);
}

.box h5 {
  margin: 2rem 0 1rem;
}

.box p {
  font-size: 0.85rem;
  text-align: start;
}

/* Why Us End */

/* Testimonials Start */
.Testimonials {
  background: var(--color-bg1);
  margin-top: -6rem;
}
.testimonials_container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonials_container p {
  margin-bottom: 1rem;
}

.testimonials_container h2 {
  margin-bottom: 1rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  border: 0.2rem solid var(--color-bg1);
}

.testi {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 12px;
}

.rating {
  display: flex;
  flex-direction: row;
  color: var(--color-warning);
}

.testimonial_body {
  display: grid;
  align-items: center;
  width: 40vw;
  grid-template-columns: 20% 80%;
  background: var(--color-bg);
  border-radius: 0.6rem;
  padding: 3rem 5rem 3rem 3rem;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

/* Testimonials End */

/* CTA Start */
.cta {
  background: var(--color-bg1);
  margin-top: -12rem;
}
.cta-container {
  position: relative;
  margin-bottom: 5rem;
}

.cta-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--color-success);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.cta-body h2 {
  text-align: center;
  color: var(--color-bg1);
  margin-bottom: 2rem;
}

.cta-body p {
  align-items: center;
  text-align: center;
  color: var(--color-bg1);
  margin-bottom: 3rem;
  width: 50%;
}
/* CTA End */

/* FAQ Start */
.faq {
  background: var(--color-bg1);
  margin-top: -12rem;
}

.faq-container {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 2rem;
  height: 100%;
}

.faq-left h2 {
  text-align: start;
}

.faq-left p {
  margin-top: -3rem;
}

.faq-right {
  width: 100%;
}

.faq-box {
  background-color: var(--color-bg1);
  margin: 10px 0;
  padding: 20px;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.faq-box.active {
  background-color: var(--color-bg1);
}

.faq-title {
  margin: 0 25px 0 0;
}

.faq-text {
  display: none;
  margin: 10px 0 0;
}

.faq-box.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
}

.faq-toggle .uil-times {
  display: none;
}

.faq-box.active .faq-toggle .uil-times {
  color: #222;
  display: block;
}

.faq-box.active .faq-toggle .uil-plus {
  display: none;
}

/* FAQ End */

/* Footer Start */
footer {
  background: var(--color-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
  padding-bottom: 4rem;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4 {
  margin-bottom: 1.2rem;
}

.footer_1 p {
  margin: 0 0 1rem;
}

.footer_2 {
  font-weight: 700;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.footer_copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}

.uil-facebook-f {
  background: var(--color-success);
  padding: 0.5rem;
  color: var(--color-bg1);
  border-radius: 50%;
}

.uil-instagram-alt {
  background: var(--color-success);
  padding: 0.5rem;
  color: var(--color-bg1);
  border-radius: 50%;
}

.uil-twitter {
  background: var(--color-success);
  padding: 0.5rem;
  color: var(--color-bg1);
  border-radius: 50%;
}

.uil-linkedin-alt {
  background: var(--color-success);
  padding: 0.5rem;
  color: var(--color-bg1);
  border-radius: 50%;
}
/* Footer End */

/* Media Queries (Tablets) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* Navbar */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav_menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav_menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav_menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav_menu li:nth-child(5) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav_menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav_menu li a:hover {
    background: var(--color-bg1);
    color: var(--color-primary);
  }

  /* Header Start */
  header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 45vh;
    margin-bottom: 5rem;
  }

  .header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
  }

  .header_left p {
    margin: 1rem 0 2.4rem;
  }

  /* Header End */

  /* Our Services */
  .services-left-image {
    width: 90%;
    height: 100%;
  }

  .our-services-right {
    width: 100%;
  }

  /* Why Us */
  .why-us-box {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
  }

  .box {
    width: fit-content;
  }

  /* Testimonials */
  .testimonial_body {
    display: grid;
    align-items: center;
    width: 43vw;
    grid-template-columns: 30% 50%;
    background: var(--color-bg);
    border-radius: 0.6rem;
    padding: 1rem;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    border: 0.2rem solid var(--color-bg1);
  }

  .testi {
    width: 25vw;
    text-align: start;
    margin-bottom: 1rem;
    font-size: 12px;
  }

  .Testimonials {
    padding-top: 15rem;
  }

  /* CTA */
  .cta-body {
    padding: 2rem;
  }

  .cta-body h2 {
    margin-bottom: 1rem;
  }

  .cta-body p {
    margin-bottom: 2rem;
  }

  .cta {
    background: var(--color-bg1);
    margin-top: -17rem;
  }

  /* FAQ */
  .faq {
    margin-bottom: -7rem;
  }
}

/* Media Queries (Phone) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /* Navbar */
  .nav_menu {
    right: 3%;
  }

  .nav_container h4 {
    padding-left: 1rem;
  }

  /* Header */
  header {
    height: 100vh;
    margin-bottom: -4rem;
  }

  .header_container {
    grid-template-columns: 1fr;
    text-align: start;
    padding-left: 1rem;
    margin-top: -6rem;
    gap: 0;
  }

  .header_left p {
    margin-bottom: 1.3rem;
    text-align: justify;
  }

  .header_left h1 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }

  .header_right-image {
    width: 100%;
    margin-right: -10vw;
    max-width: 100vw;
    width: 100vw;
    margin-top: -10rem;
  }

  /* our services */
  .our-services {
    height: 52rem;
  }

  .our-services-container {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .services-left-image {
    margin-top: -4rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  /* Why Us Start */
  .why-us {
    background: var(--color-bg1);
    height: 65rem;
    padding: 1rem;
  }

  .why-us h2 {
    text-align: center;
  }

  .why-us p {
    text-align: center;
  }

  .why-us-box {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }

  .box {
    width: fit-content;
  }

  .box h5 {
    margin: 1rem 0 1rem;
    font-size: 1rem;
  }

  .box p {
    font-size: 1rem;
    text-align: start;
    margin-top: 1rem;
  }

  /* testi */
  .Testimonials {
    padding-top: 0rem;
    height: 45rem;
  }
  .testimonial_body {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr;
    border-radius: 0.6rem;
    padding: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .avatar {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35%;
  }

  .rating {
    align-self: center;
    justify-content: center;
  }

  .testi {
    width: 80vw;
    text-align: start;
    margin-bottom: 1rem;
    font-size: 1rem;
    justify-content: center;
  }

  /* cta */
  .cta-body {
    margin: 1rem;
    width: 92%;
  }

  .cta-body p {
    margin-bottom: 2rem;
    width: fit-content;
  }

  .faq-container {
    margin: 1rem;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer_container {
    grid-template-columns: 1fr;
    text-align: start;
    gap: 1rem;
    height: 34rem;
  }

  .footer_1 {
    margin-bottom: -6rem;
  }

  .footer_2 {
    margin-bottom: -6rem;
  }

  .footer_3 {
    margin-bottom: -6rem;
  }
}
